.logOutButton {
  width: 66px;
  height: 66px;
  padding: 12px;
  display: flex;
  margin: 12px 20px;
  cursor: pointer;
  border: none;
  align-items: center;
  background-color: #fff;
  text-align: left;
  justify-content: right;
}
.logOutUserName {
  display: none;
}
.logOutUserImage {
  display: flex;
  align-items: center;
}
.logOutUserImage img {
  width: 40px;
  border-radius: 50%;
}
@media all and (min-width: 1300px) {
  .logOutButton {
    width: 100px;
  }
  .logOutUserName {
    margin: 0 12px;
    display: inline-block;
  }
  .logOutUserName > div:first-child {
    font-weight: bold;
  }
}
.logOutButton:hover {
  /* background-color: rgba(15, 20, 25, 0.1);
  border-radius: 33px; */
}

.bg {
  /* display: flex; */
}
.navItem {
  display: flex;
  height: 50px;
  width: 50px;
  align-items: center;
  padding: 12px;
  /* background-color: brown; */
}

.navItem:hover {
  background-color: rgba(15, 20, 25, 0.1);
  border-radius: 30px;
}

.navItem > div {
  display: none;
}

@media all and (min-width: 1300px) {
  .navItem > div {
    display: inline-block;
    margin-left: 20px;
    margin-right: 16px;
    font-size: 20px;
  }
}
