.rightSectionWrapper {
  display: flex;
  /* background-color: green; */
  flex-grow: 1;
}

.rightSectionInner {
  display: flex;
  /* background-color: pink; */
  justify-content: space-between;
  width: 990px;
}

.mainSection {
  width: 600px;
  /* background-color: aquamarine; */
}

.rightSection {
  width: 350px;
  /* background-color: blueviolet; */
}
