.rightSectionWrapper {
  display: flex;
  /* background-color: green; */
  flex-grow: 1;
}

.rightSectionInner {
  display: flex;
  /* background-color: pink; */
  justify-content: space-between;
  width: 600px;
}

.mainSection {
  width: 600px;
  /* background-color: aquamarine; */
}

.rightSection {
  display: none;
  /* background-color: blueviolet; */
}

@media all and (min-width: 1080px) {
  .rightSection {
    display: inline-block;
    width: 350px;
    /* background-color: blueviolet; */
  }

  .rightSectionInner {
    width: 990px;
    display: flex;
    /* background-color: pink; */
    justify-content: space-between;
  }
}
