.leftSectionWrapper {
  display: flex;
  flex-grow: 1;
  /* background-color: orange; */
  height: inherit;
  justify-content: flex-end;
}

.leftSection {
  display: flex;
  height: inherit;
  /* background-color: blue; */
  width: 72px;
}

.fixed {
  display: flex;
  position: fixed;
  /* background-color: cadetblue; */
  width: inherit;
  height: inherit;
  flex-direction: column;
  padding: 0 8px;
  align-items: center;
}

.fixed nav {
  display: flex;
  /* background-color: coral; */
  flex: 1;
}

.fixed li {
  list-style-type: none;
}

@media all and (min-width: 1300px) {
  .leftSection {
    display: flex;
    height: inherit;
    /* background-color: blue; */
    width: 275px;
  }

  .fixed {
    display: flex;
    position: fixed;
    /* background-color: cadetblue; */
    width: inherit;
    height: inherit;
    flex-direction: column;
    align-items: flex-start;
  }
}
