.leftSectionWrapper {
  display: flex;
  flex-grow: 1;
  background-color: orange;
  height: inherit;
  justify-content: flex-end;
}

.leftSection {
  display: flex;
  height: inherit;
  background-color: blue;
  width: 275px;
}

.fixed {
  display: flex;
  position: fixed;
  background-color: cadetblue;
  width: inherit;
  height: inherit;
  flex-direction: column;
}

.fixed nav {
  display: flex;
  background-color: coral;
  flex: 1;
}

.fixed li {
  list-style-type: none;
}
