.rightSectionWrapper {
  display: flex;
  /* background-color: green; */
  flex-grow: 1;
}

.rightSectionInner {
  display: flex;
  /* background-color: pink; */
  justify-content: space-between;
  width: 600px;
}

.rightSectionPost {
  display: flex;
  /* background-color: pink; */
  /* justify-content: space-between;*/
  width: 600px;
  /* flex: 1; */
}

.mainSectionPost {
  width: 600px;
  /* background-color: aquamarine; */
}

.mainSection {
  width: 600px;
  /* background-color: aquamarine; */
}

.rightSection {
  display: none;
  /* background-color: blueviolet; */
}

.copyright {
  color: gray;
  bottom: 0;
}

@media all and (min-width: 1080px) {
  .rightSection {
    display: inline-block;
    width: 350px;
    /* background-color: blueviolet; */
  }

  .rightSectionInner {
    width: 990px;
    display: flex;
    /* background-color: pink; */
    justify-content: space-between;
  }

  .rightSectionPost {
    display: flex;
    /* background-color: pink; */
    /* justify-content: space-between;*/
    width: 1000px;
    /* flex: 1; */
  }

  .mainSectionPost {
    width: 1000px;
    /* background-color: aquamarine; */
  }

  .copyright {
    color: lightgray;
    bottom: 0;
    position: fixed;
    margin-bottom: 10px;
  }
}
