.logo {
  width: 40px;
  height: 40px;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 20px;
}

.bg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100px;
}

.logo svg {
  fill: rgb(255, 147, 39);
}

@media all and (min-width: 1300px) {
  .logo {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 20px;
  }

  .bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: inherit;
  }

  .logo svg {
    fill: rgb(255, 147, 39);
  }
}
