.tabFixed {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  border-color: rgb(239, 243, 244);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

@media (prefers-color-scheme: dark) {
  .tabFixed {
    background-color: rgba(0, 0, 0, 0.65);
    border-color: rgb(47, 51, 54);
  }
}

.title {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  padding: 12px 16px;
}

.editor {
  margin-top: 70px;
  padding: 20px 100px;
}

.logOutButton {
  width: 66px;
  height: 66px;
  padding: 12px;
  display: flex;
  margin: 12px 20px;
  cursor: pointer;
  border: none;
  align-items: center;
  background-color: #fff;
  text-align: left;
  justify-content: right;
}

.navItem {
  display: flex;
  height: 50px;
  width: 50px;
  align-items: center;
  padding: 12px;
  /* background-color: brown; */
}

.navItem:hover {
  background-color: rgba(15, 20, 25, 0.1);
  border-radius: 30px;
}

.form {
  margin-top: 30px;
  padding: 20px 100px;
  background-color: yellow;
}

.preview {
  display: flex;
  gap: 10px;
  margin-bottom: 200px;
}

.saveText {
  padding: 20px 50px;
  width: 50%;
  /* background-color: purple; */
  margin-left: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 10px;
  word-break: break-all;
}

.previewText {
  padding: 20px 50px;
  width: 50%;
  /* background-color: blue; */
  margin-right: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 10px;
}

.bottom {
  width: 100%;
  height: 50px;
}
